
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
	width: 960px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

.title_box{
    background: url(../img/img/mainbg.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_box_title{
	font-size: 48px;
	color: white;
}

.title_box_text{
	font-size: 36px;
	color: white;
}

.header_box{
	height: 80px;
	font-size: 21px;
	display: flex;
	border-width: 2px;
	border-color: #efefef;
	border-style: solid;
}

.header_box_img {
	display: flex;
	justify-content: flex-start;
	width: 30%;
	height: auto;
}

.header_box_img img {
	margin: 20px 20px 20px 60px;
	padding: 0%;
}

.header_box_text {
	display: flex;
	justify-content: flex-end;
}

nav ul {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	margin: 0;
	padding: 6px;
	list-style-type: none;
}

nav a {
	display: block;
	border-radius: 4px;
	padding: 12px 24px;
	text-decoration: none;
}

.section1_box {
	display: flex;
	justify-content: center;
}

h3#ABOUT{
   margin-top: 120px;
   font-size: 24px;
   color: #ffd61f;
   display: flex;
   justify-content: center;
}

.section1_box_text1{
	margin-top: 24px;
	display: flex;
	justify-content: center;
}

.section1_box_text2{
	margin-top: 64px;
	display: flex;
	justify-content: center;
}

.section1_box_text3{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.section1_box_text4{
	display: flex;
	justify-content: center;
}

.section1_box_text5{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.section1_box_text6{
	display: flex;
	justify-content: center;
}

.section1_box_text7{
	margin-top: 40px;
	margin-bottom: 80px;
	display: flex;
	justify-content: center;
}

.section1_box_img div{
	width: 100%;
}

.section1_box_img_1{
	list-style: none;
	display: flex;
}

h3#COURSE{
   margin-top: 64px;
   font-size: 24px;
   display: flex;
   justify-content: center;	
}

.section2_box_text1{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.section2_box_text2{
	display: flex;
	justify-content: center;
	margin-bottom: 64px;
}

.image_box{
    display: flex;
}

.image_box_image{
    width: 50%;
}

.image_box_text{
	display: flex;
 	justify-content: center;
  	align-items: center;
    width: 50%;
}

.image_box_text_title{
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}


.image_box_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image_box_text div{
    width: 85%;
}

.image_box_2{
    display: flex;
}

.image_box_image_2{
    width: 50%;
}

.image_box_text_2{
	display: flex;
 	justify-content: center;
  	align-items: center;
    width: 50%;
}

.image_box_text_2_title{
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}


.image_box_image_2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image_box_text_2 div{
    width: 85%;
}

.image_box_3{
    display: flex;
}

.image_box_image_3{
    width: 50%;
}

.image_box_text_3{
	display: flex;
 	justify-content: center;
  	align-items: center;
    width: 50%;
}

.image_box_text_3_title{
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}


.image_box_image_3 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image_box_text_3 div{
    width: 85%;
}

h3#NEWS{
   margin-top: 64px;
   font-size: 24px;
   color: #ffd61f;
   display: flex;
   justify-content: center;	
}

.section3_box_text_1{
	margin-bottom: 64px;
	display: flex;
	justify-content: center;
}

.item-list {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.item-image{
	margin-bottom: 32px;
}

.item-text{
	margin-bottom: 24px;
}

.item-text-text{
	font-size: 12px;
}

.item {
	display: flex;
	flex-direction: column;
	padding: 16px;
}

.more{
	display: flex;
	justify-content: center;
	margin-top: 56px;
	margin-bottom: 48px;
}

.button{
	font-size: 21px;
	background: #ffd61b;
	color: white;
	border-radius: 5px;
	padding: 10px 50px;
}

.button:hover{
	background: #0090aa;
}

h3#ACCESS{
   margin-top: 64px;
   font-size: 24px;
   display: flex;
   justify-content: center;
}

.corporate{
   margin-top: 24px;
   margin-bottom: 64px;
   font-size: 18px;
   display: flex;
   justify-content: center;
}

table{
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: left;
}

table th{
	padding: 24px 0px 0px 0px;
	width: 25%;
}

table td{
	padding: 24px 0px 0px 48px;
	width: 25%;
	white-space: nowrap;
}

h3#CONTACT{
   margin-top: 64px;
   font-size: 24px;
   display: flex;
   justify-content: center;
}




/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/


/*
---------------------*/



/*
---------------------*/



/*
---------------------*/



/*
---------------------*/
