
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
	width: 960px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

html {
	scroll-behavior: smooth;
}

.title_box{
    background: url(../img/img/mainbg.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	opacity: 0.6;
}

.title_box_title{
	font-size: 48px;
	color: white;
}

.title_box_text{
	font-size: 36px;
	color: white;
}

.header_box{
	height: 80px;
	font-size: 21px;
	display: flex;
	border-width: 2px;
	border-color: #efefef;
	border-style: solid;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #ffd61b;
	z-index: 2;
}

.header_box_img {
	display: flex;
	justify-content: flex-start;
	width: 30%;
	height: auto;
}

.header_box_img img {
	margin: 20px 20px 20px 60px;
	padding: 0%;
}

.header_box_text {
	display: flex;
	justify-content: flex-end;
	background-color: #ffd61b;
}

nav ul {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	margin: 0;
	padding: 6px;
	list-style-type: none;
}

nav a {
	display: block;
	border-radius: 4px;
	padding: 12px 24px;
	text-decoration: none;
}

.section1_box {
	display: flex;
	justify-content: center;
}

h3#ABOUT{
   margin-top: 120px;
   font-size: 24px;
   color: #ffd61f;
   display: flex;
   justify-content: center;
}

.section1_box_text1{
	margin-top: 24px;
	display: flex;
	justify-content: center;
}

.section1_box_text2{
	margin-top: 64px;
	display: flex;
	justify-content: center;
}

.section1_box_text3{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.section1_box_text4{
	display: flex;
	justify-content: center;
}

.section1_box_text5{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.section1_box_text6{
	display: flex;
	justify-content: center;
}

.section1_box_text7{
	margin-top: 40px;
	margin-bottom: 80px;
	display: flex;
	justify-content: center;
}

.section1_box_img {
	display: flex;
	width: 960px;
	height: 200px;
	overflow: hidden;
}

.section1_box_img img {
	width: auto;
	height: 100%;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.section1_box_img img:first-child {
  animation: loop 50s -25s linear infinite;
}

.section1_box_img img:last-child {
  animation: loop2 50s linear infinite;
}

h3#COURSE{
   margin-top: 64px;
   font-size: 24px;
   display: flex;
   justify-content: center;	
}

.section2_box_text1{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.section2_box_text2{
	display: flex;
	justify-content: center;
	margin-bottom: 64px;
}

.image_box{
    display: flex;
}

.image_box_image{
    width: 50%;
}

.image_box_text{
	display: flex;
 	justify-content: center;
  	align-items: center;
    width: 50%;
}

.image_box_text_title {
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}

.COURSE_text {
	font-size: 14px;
}

.image_box_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image_box_text div{
    width: 85%;
}

.image_box_2{
    display: flex;
}

.image_box_image_2{
    width: 50%;
}

.image_box_text_2{
	display: flex;
 	justify-content: center;
  	align-items: center;
    width: 50%;
}

.image_box_text_2_title{
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}


.image_box_image_2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image_box_text_2 div{
    width: 85%;
}

.image_box_3{
    display: flex;
}

.image_box_image_3{
    width: 50%;
}

.image_box_text_3{
	display: flex;
 	justify-content: center;
  	align-items: center;
    width: 50%;
}

.image_box_text_3_title{
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}


.image_box_image_3 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image_box_text_3 div{
    width: 85%;
}

h3#NEWS{
   margin-top: 64px;
   font-size: 24px;
   color: #ffd61f;
   display: flex;
   justify-content: center;	
}

.section3_box_text_1{
	margin-bottom: 64px;
	display: flex;
	justify-content: center;
}

.item-list {
	display: flex;
	justify-content: center;
}

.item-image{
	margin-bottom: 32px;
}

.item-image img {
	width: 30%;
}

.item-text{
	font-size: 12px;
	margin-bottom: 24px;
}

.item-text-text{
	font-size: 12px;
}

.item {
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 30%;
}

.more{
	display: flex;
	justify-content: center;
	margin-top: 56px;
	margin-bottom: 48px;
}

.button{
	font-size: 21px;
	background: #ffd61b;
	color: white;
	border-radius: 5px;
	padding: 10px 50px;
}

.button:hover{
	background: #0090aa;
}

h3#ACCESS{
   margin-top: 64px;
   font-size: 24px;
   display: flex;
   justify-content: center;
}

.corporate{
   margin-top: 24px;
   margin-bottom: 64px;
   font-size: 18px;
   display: flex;
   justify-content: center;
}

.locationmap_map_map {
	width: 100%;
	height: 250px;
	object-fit: cover;
	margin-bottom: 40px;
}

table{
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: left;
}

table th{
	padding: 24px 0px 0px 0px;
	width: 25%;
}

table td{
	padding: 24px 0px 0px 48px;
	width: 25%;
	white-space: nowrap;
}

h3#CONTACT{
   margin-top: 64px;
   font-size: 24px;
   display: flex;
   justify-content: center;
}

.CONTACT_text_1{
   margin-top: 24px;
   margin-bottom: 64px;
   font-size: 18px;
   display: flex;
   justify-content: center;
}

.CONTACT_text_2{
   display: flex;
   justify-content: center;
}

.CONTACT_text_3{
   display: flex;
   justify-content: center;
}

.CONTACT_text_4{
   display: flex;
   justify-content: center;
   margin-top: 32px;
}

.CONTACT_text_5{
   display: flex;
   justify-content: center;
   margin-bottom: 80px;
}


.form_contact {
	width: 80%;
	margin-bottom: 20px;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
}

.contact_item,
.contact_body {
	padding: 10px;
}

.contact_item {
	text-align: left;
	width: 200px;
}

.contact_body {
	width: 400px;
}

.contact_body_body {
	width: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: #bfbfbf;
	padding: 5px;
}

.contact_reason {
	display: block;
}

.contact_item_item {
	text-align: left;
	vertical-align: top;
	width: 200px;
	padding: 10px;
}

.sent {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 80px;
}

footer {
	background: #707070;
	text-align: center;
}

footer p {
	font-size: 18px;
	color: white;
	padding: 32px;
}

.pagetop {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}

.pagetop_txt {
	background: #707070;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 10px;
}

.js-animation {
	opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 3s;
}

.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}


/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/


/*
---------------------*/



/*
---------------------*/



/*
---------------------*/



/*
---------------------*/
